.thumbnail-video {
	height: 150px !important;
}

.thumbnail-video-big {
	height: 190px !important;
}

.form-popup > .button {
	width: 100% !important;
}

.well{
	background-color: #e61852 !important;
}

.well-success{
	background-color: #00d7b3 !important;
	color: #535d5f !important;
}

.well > p {
	color: #fff !important;
}

.product-list .product-item.upload-new{
	height:265px !important;
}

/** Workshop application **/

.application-body {
	width: 100%;
	border: 1px dashed #3b4a4e;
	padding: 25px;
	text-align: center;
	font-size: 1.1em;
}

.application > a:hover {
	text-decoration: none !important;
}

p.description > b {
	color: #1cbdf9;
}

.worskhop-application-info {
	text-align: center;
	font-size: 2em;
}

img.workshop-application {
	width: 258px;
	height: 171px;
}

.author-profile-banner img{
	width: 100%;
	margin: 0 auto;
	background: no-repeat center fixed !important;
}

.author-profile-banner{
	background: no-repeat center fixed !important;
	margin: 0;
	min-height: unset !important;
}

.user-avatar-profile > img{
	width: 70px !important;
	height: 70px !important;
}

span.help-block {
	color: #FF0000 !important;
}

.become-speaker{
	background: url('../images/become-speaker-ad.jpg') no-repeat center !important;
}

.product-preview-image.large{
	height:auto !important;
}

.blog-post-preview.v2 .blog-post-preview-item .description-preview {
	margin-bottom: 28px !important;
}

.section-headline > p > a{
	color: #fff !important;
}

.section-headline > p > a:hover{
	color: #bebebe !important;
}

.post-title-show{
	margin-top: 60px !important;
}

.icon-bell{
	font-size: 22px !important;
}

.svg-arrow-notifications{
	position: relative !important;
	margin-left: -10px !important;
	top: -5px !important;
}


.sweet-modal-buttons a.button {
	padding-top: 0 !important;
}

.sweet-modal-content {
	color: #fff;!important;
}

.sweet-modal-content, .sweet-modal-buttons{
	background-color: #222b2d !important;
}

.greenB {
	background-color: #1cbdf9 !important;
	border: none !important;
}

.promo-banner > .icon-graduation, .promo-banner > .icon-book-open {
	top: 57px !important;
	font-size: 58px !important;
	position: absolute !important;
	left: 50% !important;
	margin-left: -29px !important;
}

.promo-banner > .icon-graduation {
	color: #fff !important;
	top: 57px !important;
	font-size: 58px !important;
	position: absolute !important;
	left: 50% !important;
	margin-left: -29px !important;
}

.promo-banner > .icon-book-open {
	color: #16ffd8 !important;
}

.banner-wrap {
	background: url('../../frontend/images/background-homepage-banner.jpg') no-repeat center;
	background-size: cover;
	padding:100px;
}

.post-paragraph > h2 {
	color: #353535 !important;
}

.sidebar-item.author-bio.v2 .share-links {
	width: 75px !important;
}

.post .post-content {
	/*margin-top: 150px !important;*/
}

.cours-adopt {
	background: url('../images/dashboard/adopter-un-cours.png') no-repeat center !important;
}


.post-banner {
	margin: 0 auto !important;
	margin-top: unset !important;
}

.pin-tutorial{
	background-color: #0fccf4;
}

.pin-course{
	background-color: #e61852;
}

.pin-instructor{
	background-color: #222b2d;
}

.dashboard-item-without-graph{
	height:105px;
}
.alert{
	width: 100%;
	margin: 10px;
	padding: 10px;
	border-radius: 2px;
	font-family: "Titillium Web",sans-serif;
}

.alert-danger{
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}


/***** RESPONSIVE ******/
@media screen and (max-width: 600px) {
	.pack-boxes {
		display: inline;
	}

	.pack-box{
		margin-left: 20%;
	}

	.author-profile-banner{
		display: none;
	}

	.author-profile-info {
		padding-left: 0;
		padding-top: 15px;
		margin: 0 auto;
		width: auto !important;
	}

	.column4-wrap, .column3-4-wrap {
		width: auto;
	}

	.menu-bar {
		min-height: 0;
		position: relative;
	}
}