table{
	margin: 0 auto;
	font-family: "Titillium Web",sans-serif;
	padding: 10px;
}

tr > td:first-child{
	background-color: #1cbdf9;
	color: white;
	text-align: center;
	padding: 10px;
	border: 1px solid black;
}

tr > td:last-child{
	text-align: center;
	padding: 10px;
	border: 1px solid black;
}

tr.plans {
	background-color: #f21c5e;
	color: white;
	text-align: center;
}

tr.plans > th:first-child {
	width: 400px;
}

tr.functionalities > th:first-child {
	padding-left: 10px;
}

tbody > tr > td:first-child {
	text-align: left;
}


tbody > tr > td {
	border: 0;
	padding-top: 10px;
	padding-left: 10px;
	text-align: center;
}

td > i.icon-check {
	color:#00d7b3;
}

tr.plans > th, tr.functionalities > th {
	border: 0;
	width: 200px;
	height: 30px;
}

tr.functionalities {
	background-color: #abaeaf;
	color: white;
	text-align: left;
}

.pack-boxes {
	margin: 0 auto !important;
	width: 700px !important;
}

.section > h3 {
	margin-bottom: 20px;
}

.thread-list .thread-list-item .title{
	padding-left: unset !important;
}

@media screen and (max-device-width: 480px)
{
	.forum{
		overflow-x: auto !important;
	}
}