/*--- offer-deposit.php ---*/
.offer-deposit .container {
    max-width: 1000px;
}

.offer-deposit .sec-title h3 {
    font-size: 25px;
    text-align: center;
    margin-top: 0;
}

.offer-deposit li .custom-button {
    padding: 10px 20px 10px 25px;
    text-align: left;
    width: 246px;
}

/*--- .breadcumb ---*/
.offer-deposit .breadcrumb {
    margin-bottom: 70px;
    padding: 0;
}

.offer-deposit .breadcrumb .container {
    margin-left: 174px;
    margin-right: 280px;
}

.offer-deposit .breadcrumb .list-breadcrumb {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
    height: 42px;
}

.offer-deposit .breadcrumb .list-breadcrumb li {
    list-style-type: none;
    display: inline-block;
    line-height: 42px;
    font-family: 'AvenirNext Medium';
}

.offer-deposit .breadcrumb .list-breadcrumb li:first-child {
    position: relative;
    margin-right: 40px;
}

.offer-deposit .breadcrumb .list-breadcrumb li a {
    color: #213447;
}

/*--- end .breadcumb ---*/

/*--- .post-job ---*/
.offer-deposit .post-job {
    /*		max-width: 1280px;
    */
    margin: 0 auto;
    background-color: #fff;
    background: url('../images/bg-deposit.svg') no-repeat 105% 100%;
    background-size: contain;
    margin-bottom: 0;
    position: relative;
}

.offer-deposit .post-job .container {
    margin-left: 100px;
}

.offer-deposit .post-job .title-text {
    max-width: inherit;
    margin: 0;
    text-align: left;
    color: #728292;
}

.offer-deposit .post-job .title-text h3 {
    color: #213447;
    padding-right: 160px;
    line-height: 40px;
}

.offer-deposit .post-job .title-text p {
    font-size: 14px;
    margin-bottom: 0;
    padding-right: 330px;
}

.offer-deposit .post-job ul.list-button {
    margin-bottom: 30px;
    margin-top: 20px;
}

.offer-deposit .post-job .quetions p {
    margin-bottom: 0;
}

.offer-deposit .post-job .quetions p a {
    color: #09A9ED
}

.offer-deposit .post-job .image {
    position: absolute;
    bottom: 0;
    right: 200px;
}

/*--- end .post-job ---*/

/*--- .how-works ---*/

.offer-deposit .how-works .sec-title {
    margin-bottom: 65px;
}

.offer-deposit .how-works .item .image {
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #f3f4f6;
    line-height: 150px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.offer-deposit .how-works .item .desc {
    padding-left: 50px;
}

.offer-deposit .how-works .item .desc h4 {
    font-size: 16px;
    min-height: 76px;
    line-height: 24px;
}

.offer-deposit .how-works .item .desc p {
    min-height: 104px;
}

/*--- end .how-works ---*/

/*--- .discover ---*/
.offer-deposit .discover {
    padding: 65px 0 85px;
    background-color: #f3f4f6;
}

.offer-deposit .discover .sec-content {
    text-align: center;
}

.offer-deposit .discover .sec-content .videos {
    /*width: 647px;*/
    /*height: 294px;*/
    margin: 0 auto;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    background-color: #fff;
}

.offer-deposit .discover .play-btn {
    cursor: pointer;
}

/*--- end .discover ---*/

/*--- modal .show-offer-deposit ---*/
.show-offer-deposit .modal-dialog {
    width: 1072px;
    /*		margin-top: 74px;
    */
}

.show-offer-deposit .modal-content {
    border-radius: 0;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
}

.show-offer-deposit .modal-header {
    background-color: #f3f4f6;
    padding: 10px 60px 10px 70px;
    position: relative;
    border-bottom: none;
}

.show-offer-deposit .modal-header .close {
    margin-top: 0;
    position: absolute;
    text-shadow: none;
    opacity: 1;
    top: calc(50% - 11px);
    right: 32px;
    width: 17px;
}

.show-offer-deposit .close:focus, .show-offer-deposit .close:hover {
    filter: none;
    opacity: 1;
}

.show-offer-deposit .modal-body {
    padding: 25px 60px 55px 70px;
}

#showPostJob .form-job .inner-form-job {
    margin: 0 -30px;
}

#showPostJob .form-job .form-left, #showPostJob .form-job .form-right {
    padding: 0 30px;
}

#showPostJob .form-job .form-left {
    border-right: 1px solid #21344726;
}

#showPostJob .list-vocative {
    margin: 0 -10px;
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

#showPostJob .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'AvenirNext Regular';
    color: #728292;
}

#showPostJob .form-control::-moz-placeholder { /* Firefox 19+ */
    font-family: 'AvenirNext Regular';
    color: #728292;
}

#showPostJob .form-control:-ms-input-placeholder { /* IE 10+ */
    font-family: 'AvenirNext Regular';
    color: #728292;
}

#showPostJob .form-control:-moz-placeholder { /* Firefox 18- */
    font-family: 'AvenirNext Regular';
    color: #728292;
}

#showPostJob .list-vocative .item {
    padding: 0 10px;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

#showPostJob .list-vocative label {
    font-family: 'AvenirNext Regular';
    font-weight: 400;
}

#showPostJob .list-vocative input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    display: none;
}

#showPostJob .list-vocative .mr {
    background-image: url('../images/mr-active.svg');
}

#showPostJob .list-vocative .mrs {
    background-image: url('../images/mrs-active.svg');
}

#showPostJob .list-vocative .residence {
    background-image: url('../images/house-blue.svg');
}

#showPostJob .list-vocative input:active + .icon-vocative {
    opacity: .9;
}

#showPostJob .list-vocative input:checked + .icon-vocative {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
}

#showPostJob .list-vocative input:checked + .mr {
    background-image: url('../images/mr-active.svg');
}

#showPostJob .list-vocative input:checked + .mrs {
    background-image: url('../images/mrs-active.svg');
}

#showPostJob .list-vocative input:checked + .residence {
    background-image: url('../images/house-blue.svg');
}

#showPostJob .list-vocative .icon-vocative {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 36px;
    height: 34px;
    text-align: center;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    -ms-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    -ms-filter: brightness(1.8) grayscale(1) opacity(.7);
    -o-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}

#showPostJob .list-vocative .icon-vocative:hover {
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -ms-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -o-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

#showPostJob .list-vocative span {
    position: absolute;
    top: 60%;
    left: 58%;
}

#showPostJob .input-group-addon:first-child {
    background-color: #fff;
    border: 1px solid #979797;
    border-right: none;
    padding: 10px 15px;
}

#showPostJob .input-group-addon:first-child span {
    color: #8795a2;
}

#showPostJob .input-group .form-control {
    border: 1px solid #979797;
    border-left: none;
}

#showPostJob input, #showPostJob select, #showPostJob textarea {
    padding: 10px 15px;
}

#showPostJob textarea {
    height: 100px;
}

#showPostJob .form-control:hover, #showPostJob .input-group .form-control:focus {
    box-shadow: none;
    outline: none;
}

#showPostJob .info-basic, #showPostJob .select-trade, #showPostJob .city-language {
    margin: 0 -5px;
}

#showPostJob .info-basic .form-group, #showPostJob .select-trade .form-group, #showPostJob .city-language .form-group {
    padding: 0 5px;
}

#showPostJob .phone {
    margin-bottom: 30px;
}

#showPostJob .title-form {
    line-height: 40px;
}

#showPostJob select {
    text-overflow: '';
    /*Hiding the select arrow for firefox*/
    -moz-appearance: none;
    /*Hiding the select arrow for chrome*/
    -webkit-appearance: none;
    /*Hiding the select arrow default implementation*/
    appearance: none;
}

/*Hiding the select arrow for IE10*/
#showPostJob select::-ms-expand {
    display: none;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 5-7 */
    filter: alpha(opacity=0);
    /* Good browsers :) */
    opacity: 0;
}

#showPostJob .select-trade .form-group::after, #showPostJob .location::after, #showPostJob .city-language .form-group::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 8px;
    top: calc(50% - 4px);
    right: 15px;
    z-index: 2;
    background: url('../images/arrow-down-black-demande.svg') no-repeat;
    /* These hacks make the select behind the arrow clickable in some browsers */
    pointer-events: none;
}

#showPostJob .city-language .form-group2::after {
    background: none;
}

#showPostJob .session {
    margin-bottom: 15px;
}

#showPostJob label.with-square-checkbox {
    font-family: 'AvenirNext Medium';
}

#showPostJob .session label.with-square-checkbox span, #showPostJob .accept label.with-square-checkbox span {
    margin-bottom: 4px;
}

#showPostJob .location {
    position: relative;
}

#showPostJob .location::after {
    right: 10px;
}

#showPostJob ul.list-button {
    padding: 0 25px;
}

#showPostJob li .btn-form {
    width: 261px;
    text-align: center;
}

#showIncreaseOptions .modal-body {
    padding: 55px 60px 55px 70px;
}

#showIncreaseOptions .form-left {
    float: left;
    width: 85%;
}

#showIncreaseOptions .image {
    float: left;
    width: 15%;
}

#showIncreaseOptions .item {
    margin-bottom: 45px;
}

#showIncreaseOptions .checkbox {
    max-width: 50px;
    margin-top: 0;
}

#showIncreaseOptions label.with-square-checkbox {
    margin-right: 0;
    padding-left: 0;
}

#showIncreaseOptions label.with-square-checkbox input {
    margin: 0;
}

#showIncreaseOptions .desc h4 {
    color: #728292;
    line-height: 25px;
    margin-top: 0;
    margin-bottom: 20px;
}

#showIncreaseOptions .desc p .icon-highlight {
    margin: 0 5px 0 5px;
}

#showResquestForm .modal-body {
    padding: 50px 95px 60px 100px;
}

#showResquestForm .inner-form-job {
    margin: 0 -30px;
}

#showResquestForm .form-left, #showResquestForm .image {
    padding: 0 30px;
}

#showResquestForm .modal-title {
    font-size: 25px;
    line-height: 34px;
    margin-bottom: 25px;
}

#showResquestForm .modal-desc {
    font-size: 18px;
    line-height: 28px;
    padding-right: 40px;
}

#showResquestForm li .btn-form {
    text-align: center;
}

/*--- end modal .show-offer-deposit ---*/
/*--- end offer-deposit.php ---*/
